* {
    font-family: 'Roboto', sans-serif;
}

header {    
    position: relative;
}

nav {
    height: 50px;
    background: #212121;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
}

.menu .menu_link {
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
}

a {
    text-decoration: none;
}

.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 46px;
}

.subheader {
    position: absolute;
    width: 100%;
    height: 84px;
    background-color: rgba(0,0,0, .6);
}

.subheader .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 15px;
}

.subheader .subheader_official {
    margin-top: 6px;
    font-weight: 400;
    font-size: 13px;
    opacity: 0.5;
    color: #FFFFFF;
}

.subheader .subheader_call {
    margin-top: 19px;
    font-weight: 300;
    font-size: 12px;
    
    text-align: right;

    color: #FFFFFF;
}

.subheader .subheader_phone {
    display: block;
    margin-top: 8px;
    font-weight: 400;
    font-size: 22px;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 12px;
}

.subheader .subheader_btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    border: none;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.promo {
    min-height: 800px;
    background: url(..//img/uber_bg.jpg) center center/cover no-repeat;
    padding: 150px 0 135px 0;
}

.promo .promo_header {
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    color: #FFFFFF;
}

.promo .promo_subheader {
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    margin-top: 22px;
    color: #FFFFFF;
}

.promo .promo_descr {
    margin-top: 23px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.promo .promo_btn {
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    border: none;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.reason {
    min-height: 850px;
    padding: 20px 0 65px 0;
}

.label {
    margin: 0 auto;
    width: 115px;
    height: 27px;
    background: #000000;
    font-weight: 300;
    font-size: 11px;
    padding: 6px 12px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.title {
    margin-top: 35px;
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
}

.reason .reason_block {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.reason .reason_round {
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 116px;
    height: 116px;
    border-radius: 100%;
    background: #1EACC7;
   
}

.reason .reason_block .reason_descr {
    width: 371px;
}

.reason .reason_block .reason_descr .reason_title {
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #1EACC7;
}

.reason .reason_block .reason_descr .reason_text {
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    /* or 140% */
    display: flex;
    align-items: center;

    color: #202020;

}